<div class="row">
  <div class="col-12">
    <div class="card text-white bg-dark mb-4">
      <div class="card-header">admin.nodes</div>
      <div class="card-body">
        <h5 class="card-title">Node Index</h5>
        <div class="table-responsive">
          <table class="table table-dark table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">Heading</th>
                <th scope="col">Slug</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for node in nodes %}
                  <tr>
                    <th scope="row">{{node.id}}</th>
                    <td>{{node.nodetype.name}}</td>
                    <td>{{node.heading}}</td>
                    <td>{{node.slug}}</td>
                    <td><a href="{{route('admin.node.get', {'id': node.id})}}" class="btn btn-sm btn-outline-warning">Edit</a></td>
                  </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
